//$login-btn : #6DCEAD;

// COLOURS
$black: #302E33;

$gold: #FDBF44;
$aqua: #5FB2B2;


$footer-bg: #F2F2F2;


//TYPOGRAPHY
$font-one: henderson-sans-basic, sans-serif;
$font-two: henderson-slab-basic, serif;

