
.footer{
    background-color: #fff;
    color: black;
}

.f-logo{
    margin-top: 5%;
}

.top{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 4%;
    margin-bottom: 5%;
}

.social-media{
    margin-top: 5%;
}
.terms{
    margin-top: 4%;
}

.terms li a{
    text-decoration: none;
    color: black;

}

.terms li{
    list-style-type: none;
}

.copyright{

    margin: 0 auto;
    width: 71%;
    padding-bottom: 5%;
}
