
.login-form{
    display: flex;
    justify-content: center;
}

#my-form{
    font-family: sofia-pro, sans-serif;
    font-weight: 1500;
    font-style: normal; 
    margin-top: 15%;
    text-align: center;
    margin-bottom: 15%;
}

#my-form label{
    margin-top: 5%;
    text-align: center;
}

#my-form input{
    font-family: sofia-pro, sans-serif;
    font-weight: 1500;
    font-style: normal; 
    text-align: center;
    height: 20%;
    margin-left: -100%;
    width: 300%;
}

#my-form input[type=submit] {
    width: 50%;
}

#sign{
    font-family: sofia-pro, sans-serif;
    font-weight: 1500;
    font-style: normal; 
    color: white;
    //background-color: $login-btn;
}