.head{
    background-color: $gold;
}


.display-4{
    padding-top: 5%;
    text-align: center;
    font-family: $font-two;
font-weight: 700;
font-size: 1.5rem;
font-style: normal;
}

.login-form{
    padding-top: 10%;
    font-family: $font-one;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

.form-control{
    border-radius: 0rem;
    margin-bottom: 2rem;
    text-align: center;
    opacity: 1;
    color: black;
    font-weight: 700;
}

.btn-light{
    font-family: $font-one;
    font-weight: 700;
    margin-top: 3rem;
    padding: .7rem;
    border-radius: 2rem;
}


.display-2{
    padding-top: 5%;
    text-align: center;
    color: $gold;
    font-family: $font-one;
font-weight: 700;
font-size: 1rem;
font-style: normal;
}

.signup{
    padding-top: 5%;
    text-align: center;
    color: $gold;
    font-family: $font-one;
font-weight: 700;
font-size: 1rem;
font-style: normal;
}

.signup:hover{
    padding-top: 5%;
    text-align: center;
    color: $black;
    font-family: $font-one;
font-weight: 700;
text-decoration: none;
font-size: 1rem;
font-style: normal;
}