.fs-video { width: 100% }

.media-container {
    color: black;
    background-color: #F2F2F2;
    font-family: $font-one;
    margin:0;
}
.media-container:first-of-type { padding-bottom: 1em; }
.media-container:last-of-type { padding-left: 0; padding-right: 0; }

// top left media details
.media-title { 
    font-size: 1.5em; 
    padding-top: 1em;
    font-weight: bolder; 
}

.modal-body{
    background-color: #F2F2F2;
}

.stars img{
    width: 5%;
}

.media-details { font-size: 1.2em; padding: 0.5em 0; }

.media-year, .media-time { font-size: 1em; }
.media-year { display: block; float: right; }

.side-nav { background: darken($dark-bg, 9%) }

// left hand pad list -> audio, film television
.media-type { 
    list-style-type: none;
    margin-bottom: 0;
    
    li { 
        padding: 1rem;
        cursor: pointer;
        display: inline-block;
        width: 33%;
        text-align: center;

        span:first-of-type {  
            font-size: 2rem; 
            color: white;
        }
    }

    li:hover span:first-of-type { color: $roku-purple }
}

// genre filter links

.media-genres {
    list-style-type: none;
    background: $aqua;
    margin: 0;

    li { 
        display: inline-block;
        padding: .5em .5em .5em .5em;
        font-weight: 700;
            font-size: 1.5rem;
            color: white;

        a {
            font-weight: 700;
            font-size: 1.5rem;
            color: white;
            text-decoration: none;
        }
        
        p{
            margin-bottom: 0rem;
        }
        
        a:hover { 
            border-bottom: 5px solid $gold;
        }
    }
}

// media thumbnails
.media-info {
    padding-left: 0;
    padding-right: 0;

    > div { padding: 0 10px; }
}

.media-thumb {
    height: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.music-thumb {
    width: 80%;
    margin-left: 2rem;
}

.audio-thumb { height: 150px; }

.audio-wrapper {
    background: $dark-bg;

    img { max-width: 85%; display: block; margin: 0 auto; padding: 4% }

}

audio {
    width: 100%;
    bottom: 12%;
    opacity: 0.8;
}

.bg-movie{
    background-image: url("../images/moviepage-bg.png");
    background-repeat: no-repeat;
  background-size: 100%;
}

.bg-tv{
    background-image: url("../images/tvpage-bg.png");
    background-repeat: no-repeat;
  background-size: 100%;
}

.bg-music{
    background-image: url("../images/music-bg.png");
    background-repeat: no-repeat;
  background-size: 100%;
}

.main-h1 h1{
    padding-top: 5%;
    padding-bottom: 5%;
    font-weight: 700;
    margin-left: 3%;
    font-size: 3.5rem;
    color: black;
}

.mainkids-h1 h1{
    font-family: $font-one;
    padding-top: 10%;
    font-weight: 700;
    margin-left: 3%;
    font-size: 3rem;
    color: black;
}

.mainkids-h1 p{
    padding-top: 5%;
    font-family: $font-one;
    font-weight: 500;
    font-size: 2.5rem;
    color: white;
}

.buttons{
    display: flex;
    margin-left: 3.5%;
    justify-content: flex-start;
}

.button{
    padding-top: 10%;
    font-family: $font-one;
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
}

.category{
    font-family: $font-one;
    font-weight: 500;
    font-size: 2.5rem;
    color: white;
}